      body {
        background-color: rgb(25,25 ,25);
        color: white;
        font-family: arial;
      }
      .heading-game {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
      }
      .move-icon {
        height: 50px;
      }
      .move-button {
        background-color: transparent;
        border: 2px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin: 15px;
        cursor: pointer;
      }
      .result {
        font-size: 25px;
        font-weight: bold;
        margin: 50px;
      }
      .score {
        margin-top: 60px;
      }
      .reset-score-button {
        background-color: white;
        border: none;
        font-size: 20px;
        padding: 8px 15px;
        cursor: pointer;
      }